# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
env/
venv/

# Django
*.log
*.pot
*.pyc

media/
staticfiles/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment
.env
*.env

# MacOS
.DS_Store
